* {
  box-sizing: border-box;
}
html {
  background: linear-gradient(to right, #2f2f2f, #434343, #2f2f2f);
}
body {
  font-family: "Roboto", sans-serif !important;
  font-size: 16px;
  margin: 0 auto;
  padding: 0 5%;
}

/* CSS SHORTCUTS */
.mint {
  color: mediumaquamarine;
}
.mintBG {
  background-color: mediumaquamarine;
}
.black {
  color: black;
}
.blackBG {
  background-color: black;
}
.lightGray {
  color: lightgray;
}
.gray {
  color: gray;
}
.hidden {
  display: none !important;
}


/* GLOBAL STYLES */
.container {
  max-width: 600px;
  margin: 0 auto;
}
.group {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column;
}
.item {
  flex: 1;
  margin: auto;
  text-align: center;
  color: #f2f2f2;
  align-content: space-between;
}
.item-double {
  flex: 2;
  margin: 10px;
  text-align: center;
  color: #f2f2f2;
  line-height: 20px;
  display: flex;
}
.item-triple {
  flex: 3;
  margin: 10px;
  text-align: center;
  color: #f2f2f2;
  line-height: 20px;
  display: flex;
}

/****** ALL MOBILE STYLES BELOW ARE UNDER 500px ******/

/* HEADER STYLES */
header {
  text-align: center;
}
header h1 {
  font-size: 45px;
  text-align: center;
}

/* BUTTON STYLES */
.btn-wrapper {
  display: inline-flex;
  width: 100%;
  margin: auto;
}
.btn {
  position: relative;
  color: #66cdaa;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  width: 100%;
  text-decoration: none;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  background: transparent;
  box-shadow: 2px 2px 5px #1f1f1f, -2px -2px 2px #808080;
}
.btn:hover {
  box-shadow: inset 2px 2px 5px #1f1f1f, inset -2px -2px 5px #808080;
  transform: translatey(2px);
  cursor: pointer;
}
.btn i {
  font-size: 6vw;
  transition: all 400ms;
}
.btn-secondary {
  color: #66cdaa;
  font-size: 24px;
  display: flex;
  background: transparent;
  box-shadow: 2px 2px 5px #1f1f1f, -2px -2px 2px #808080;
}
.btn-secondary:hover {
  box-shadow: inset 2px 2px 5px #1f1f1f, inset -2px -2px 5px #808080;
}
.btn a {
  color: #66cdaa !important;
}

/* BOOKMARK LIST */
.bookmark-group {
  align-content: space-between;
  align-items: center;
  width: 100%;
}
.bookmark-group .item-double {
  margin: 3% auto;
}
.bookmark-group h2 {
  text-align: left;
  align-items: center;
  line-height: 30px;
}
.bookmark-group img {
  color: transparent;
}
.favicon {
  width: 50px;
  height: 50px;
  margin-right: 3%;
}
.bookmark-list {
  list-style: none;
  padding-left: 0;
}

.bookmark-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.bookmark-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

/* EXPANDED */
.flat-icon {
  color: #66cdaa;
  font-family: "Roboto", sans-serif;
  width: 5vw;
  padding: 5px;
  cursor: pointer;
  display: none;
  text-align: center;
}
.flat-icon svg {
  font-size: 48px;
}
.expanded-bookmark {
  margin: 3% auto 1% auto;
  width: 100%;
}
.expanded-bookmark .group {
  width: 100%;
}

.expanded-bookmark .btn-secondary {
  text-align: right;
}
.expanded-bookmark p {
  width: 100%;
  text-align: left;
  line-height: 20px;
  padding: 10px;
}
.expanded-bookmark hr {
  width: 100%;
}

/*  FILTER BY RATINGS */
#filter-select {
  position: relative;
}
#filter-select label::after {
  font-family: Arial,  Calibri, Tahoma, Verdana !important;
  content: "";
  position: absolute;
}

#filter-select select {
  opacity: 1;
  color: #66cdaa;
  text-align-last: center;
  text-indent: 5px;
  appearance: none;
}
#filter-select select:hover {
  box-shadow: inset 2px 2px 5px #1f1f1f, inset -2px -2px 5px #808080;
  transform: translatey(2px);
  cursor: pointer;
}


/* RATINGS */
.star-rating {
  display: flex;
  font-size: 32px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.star-rating .fa-star {
  color: goldenrod;
}

/* ADD STAR RATING */
select {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
}

select:before {
  position: relative;
}

.rating-group {
  display: inline-flex;
  margin: auto 1%;
}
.rating {
	direction: rtl;
	unicode-bidi: bidi-override;
  margin: 3% auto;
  font-size: 36px;
  color: #888;
  position: relative;
}
.rating input {
	opacity: 0;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label,
.rating input:focus + label {
	color: goldenrod;
}
.label-content {
  display: none;
}

/* ERRORS */
.error {
  color: red;
  text-align: center;
  letter-spacing: 1.25px;
}
.error * {
  display: inline-block;
}
#cancel-error {
  margin-right: 0.5rem;
}
#add-section form {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-content: space-between;
}
#add-rating {
  white-space: nowrap;
  font-size: 1.25em !important;
}
.input-group {
  height: 88px;
  flex-direction: column;
}
.input-group label[for="title"],
.input-group label[for="url"] {
  height: 43px;
}
.input-group label[for="description"] {
  height: 100%;
}
input[type="text"],
input[type="url"] {
  padding: 5px;
  /* margin: auto; */
  width: 100%;
  height: 100%;
}
input[type="radio" i] {
  position: absolute;
  left: 35px;
}
textarea {
  padding: 5px;
  margin: auto;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif !important;
}
fieldset {
  border: none;
}

.header-buttons .filler {
  display: none;
}
.header-buttons {
  flex-direction: column;
}



/****** ALL LARGE MOBILE STYLES FROM 500px - 768px ******/
@media screen and (min-width: 500px) {
  .content-wrapper {
    display: inline-flex;
    width: 100%;
    padding: 0 5px;
  }
  .star-rating {
    justify-content: flex-end;
  }
}
/****** ALL TABLET STYLES FROM 769px - 1024px ******/
@media screen and (min-width: 769px) {
  .header-buttons {
    flex-direction: row;
  }
}
/****** ALL LAPTOP STYLES FROM 1025px - 1438px ******/
@media screen and (min-width: 1025px) {
  header h1 {
    font-size: 64px;
  }
  .content-wrapper, .btn-wrapper, .expanded-bookmark p {
    width: 75%;
  }
}
/****** ALL LARGE LAPTOP STYLES FROM 1439px - 1600px ******/
@media screen and (min-width: 1439px) and (max-width: 1600px) {
  .content-wrapper, .btn-wrapper, .expanded-bookmark p {
    width: 50%;
  }
  hr {
    width: 75%;
  }
}

