* {
  box-sizing: border-box;
}
html {
  background: linear-gradient(to right, #2f2f2f, #434343, #2f2f2f);
}
body {
  font-family: "Roboto", sans-serif !important;
  font-size: 1em;
  width: 85%;
  margin: 0 auto;
}

/* CSS SHORTCUTS */
.mint {
  color: mediumaquamarine;
}
.mintBG {
  background-color: mediumaquamarine;
}
.black {
  color: black;
}
.blackBG {
  background-color: black;
}
.lightGray {
  color: lightgray;
}
.gray {
  color: gray;
}
.hidden {
  display: none !important;
}

/* GLOBAL STYLES */
.container {
  max-width: 600px;
  margin: 0 auto;
}
.group {
  max-width: 1440px;
  width: auto;
  margin: 0 auto;
  display: inline-flex;
  flex-direction: row;
}
.item {
  flex: 1;
  margin: auto;
  text-align: center;
  color: #f2f2f2;
  align-content: space-between;
  display: flex;
}
.item-double {
  flex: 2;
  margin: 10px;
  text-align: center;
  color: #f2f2f2;
  line-height: 1.25em;
  display: flex;
}
.item-triple {
  flex: 3;
  margin: 10px;
  text-align: center;
  color: #f2f2f2;
  line-height: 1.25em;
  display: flex;
}

/* HEADER STYLES */
header {
  text-align: center;
}
header h1 {
  font-size: 6em;
  text-align: center;
}

/* BUTTON STYLES */
.btn-wrapper {
  display: inline-flex;
}
.vertical {
  flex-direction: column;
  align-content: space-between;
  vertical-align: middle;
  align-items: flex-end;
}
.btn {
  color: #66cdaa;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  width: 15vw;
  text-decoration: none;
  height: 50px;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  background: transparent;
  box-shadow: 2px 2px 5px #1f1f1f, -2px -2px 2px #808080;
}
.btn:hover {
  box-shadow: inset 2px 2px 5px #1f1f1f, inset -2px -2px 5px #808080;
  transform: translatey(2px);
  cursor: pointer;
}
.btn i {
  font-size: 6vw;
  transition: all 400ms;
}
.btn-secondary {
  color: #66cdaa !important;
  font-size: 1.5em;
  width: 5vw;
  display: flex;
  background: transparent;
  box-shadow: 2px 2px 5px #1f1f1f, -2px -2px 2px #808080;
}
.btn-secondary:hover {
  box-shadow: inset 2px 2px 5px #1f1f1f, inset -2px -2px 5px #808080;
}
.btn a {
  color: #66cdaa !important;
}

/* BOOKMARK LIST */
#bookmark-section {
  align-content: space-between;
  width: 100%;
}
#bookmark-section .item-double {
  margin: auto 5% auto 0;
}
#bookmark-section h2 {
  text-align: left;
}
#bookmark-section img {
  color: transparent;
}
#favicon {
  width: 50px;
  height: 50px;
  margin-right: 3%;
}
#bookmark-list-item {
  width: 250px;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
}

.bookmark-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.bookmark-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

/* EXPANDED */
.flat-icon {
  color: #66cdaa;
  font-family: "Roboto", sans-serif;
  width: 5vw;
  /* margin-right: 5%; */
  padding: 5px;
  display: flex;
  cursor: pointer;
}
.flat-icon svg {
  font-size: 3em;
}
.expanded-bookmark {
  margin: 5% auto;
  width: 100%;
}
.expanded-bookmark .group {
  width: 100%;
}
.expanded-bookmark button a {
  color: white;
}
.expanded-bookmark p {
  font-size: 1.5em;
  width: 100%;
  text-align: left;
}
.expanded-bookmark hr {
  width: 100%;
}

/* RATINGS */
#rating {
  display: inline-block;
  font-size: 2em;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
/* #rating .rating__label {
  font-size: 1em !important;
} */
#rating .fa-star {
  color: goldenrod;
}

/* STAR RATING */
select {
  position: absolute;
  opacity: 0;
  width: 10vw;
  cursor: pointer;
}

select:before {
  position: relative;
}

select option[value="0"] {
  display: none;
}




.rating-group {
  display: inline-flex;
  margin: auto 1%;
}
.rating__icon {
  pointer-events: none;
}
.rating__input {
  position: absolute !important;
  left: -9999px !important;
}
.rating__input--none {
  display: none;
}
.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
}
.rating {
	direction: rtl;
	unicode-bidi: bidi-override;
  margin: auto 1em;
  font-size: 1.5em;
	color: #888;
}
.rating input {
	display: none;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label {
	color: goldenrod;
}

.label-content {
  display: none;
}


/* ERRORS */
.error-container {
  color: red;
  font-weight: bold;
  text-align: center;
}

.error-container * {
  display: inline-block;
}

#cancel-error {
  margin-right: 0.5rem;
}

#add-section form {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-content: space-between;
}
#add-rating {
  white-space: nowrap;
  font-size: 1.25em !important;
}
.input-group {
  height: 88px;
  flex-direction: column;
}
.input-group label[for="title"],
.input-group label[for="url"] {
  height: 43px;
}
.input-group label[for="description"] {
  height: 100%;
}
input[type="text"],
input[type="url"] {
  padding: 5px;
  margin: auto 1%;
  width: 100%;
  height: 100%;
}
textarea {
  padding: 5px;
  margin: auto 1%;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif !important;
}
fieldset {
  border: none;
}
#create-btn {
  margin: auto 1%;
}

@media screen and (min-width: 1024px) {
  body {
    width: 75%;
  }
}
@media screen and (min-width: 1500px) {
  body {
    width: 60%;
  }
}
@media screen and (min-width: 2400px) {
  body {
    width: 50%;
  }
}
